<a href="https://colab.research.google.com/github/ariqnfl/IYKRA-DF6/blob/main/Muhammad_Ariq_Naufal_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [ ]:
# Import Library
import pandas as pd
import matplotlib.pyplot as plt

Data Loading

In [ ]:
df = pd.read_csv('nba.csv')
df.head()

   Unnamed: 0    Year           Player  Pos   Age  ... STL  BLK  TOV     PF    PTS
0           0  1950.0  Curly Armstrong  G-F  31.0  ... NaN  NaN  NaN  217.0  458.0
1           1  1950.0     Cliff Barker   SG  29.0  ... NaN  NaN  NaN   99.0  279.0
2           2  1950.0    Leo Barnhorst   SF  25.0  ... NaN  NaN  NaN  192.0  438.0
3           3  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   29.0   63.0
4           4  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   27.0   59.0

[5 rows x 53 columns]

In [ ]:
# check dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  object
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: float64(49), int64(1), object(3)
memory usage: 10.0+ MB

# Data Preprocessing

In this task not all data will be used, only data in 2017. So it is necessary to do filtering at the beginning. Besides that there are some players who make team transfers in the NBA transfer market so that there is duplication of player data. Therefore you can use the df.drop_duplicates() syntax to solve this to produce the same output as the trainer. Delete columns that have as many missing values as the entire row of data. Then you can do additional preprocessing if needed or you can immediately process the data.

In [ ]:
# drop unnamed:0
df = df.drop("Unnamed: 0",axis = 1)

In [ ]:
# slice to year 2017
df_2017 = df[df['Year'] == 2017.0].reset_index(drop=True)
df_2017.head()

     Year        Player Pos   Age   Tm  ...   STL   BLK    TOV     PF    PTS
0  2017.0  Alex Abrines  SG  23.0  OKC  ...  37.0   8.0   33.0  114.0  406.0
1  2017.0    Quincy Acy  PF  26.0  TOT  ...  14.0  15.0   21.0   67.0  222.0
2  2017.0    Quincy Acy  PF  26.0  DAL  ...   0.0   0.0    2.0    9.0   13.0
3  2017.0    Quincy Acy  PF  26.0  BRK  ...  14.0  15.0   19.0   58.0  209.0
4  2017.0  Steven Adams   C  23.0  OKC  ...  88.0  78.0  146.0  195.0  905.0

[5 rows x 52 columns]

In [ ]:
# check null columns
df_2017.isnull().sum()

Year        0
Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
PER         0
TS%         2
3PAr        2
FTr         2
ORB%        0
DRB%        0
TRB%        0
AST%        0
STL%        0
BLK%        0
TOV%        2
USG%        0
blanl     595
OWS         0
DWS         0
WS          0
WS/48       0
blank2    595
OBPM        0
DBPM        0
BPM         0
VORP        0
FG          0
FGA         0
FG%         2
3P          0
3PA         0
3P%        46
2P          0
2PA         0
2P%         5
eFG%        2
FT          0
FTA         0
FT%        24
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
dtype: int64

In [ ]:
# drop column blanl & blank2
df_2017  = df_2017.drop(['blanl','blank2'],axis=1)

In [ ]:
# check duplicate player
df_2017[df_2017['Player'].duplicated()]

       Year            Player Pos   Age   Tm  ...   STL   BLK    TOV     PF     PTS
2    2017.0        Quincy Acy  PF  26.0  DAL  ...   0.0   0.0    2.0    9.0    13.0
3    2017.0        Quincy Acy  PF  26.0  BRK  ...  14.0  15.0   19.0   58.0   209.0
15   2017.0   Justin Anderson  SF  23.0  DAL  ...  28.0  16.0   40.0   64.0   329.0
16   2017.0   Justin Anderson  SF  23.0  PHI  ...  13.0   7.0   26.0   45.0   203.0
33   2017.0       Matt Barnes  SF  36.0  SAC  ...  36.0  17.0   83.0  138.0   413.0
..      ...               ...  ..   ...  ...  ...   ...   ...    ...    ...     ...
570  2017.0  Derrick Williams  PF  25.0  CLE  ...   5.0   2.0   14.0   27.0   156.0
572  2017.0      Lou Williams  SG  30.0  LAL  ...  65.0  10.0  120.0   67.0  1078.0
573  2017.0      Lou Williams  SG  30.0  HOU  ...  15.0   9.0   40.0   25.0   343.0
577  2017.0     Troy Williams  SF  22.0  MEM  ...  24.0   9.0   27.0   42.0   127.0
578  2017.0     Troy Williams  SF  22.0  HOU  ...   3.0   1.0    6.0   18.0    58.0

[109 rows x 50 columns]

In [ ]:
# delete duplicates and select the last duplicate data
df_2017 = df_2017.drop_duplicates(subset='Player',keep='last')
df_2017.head()

     Year         Player Pos   Age   Tm  ...   STL   BLK    TOV     PF    PTS
0  2017.0   Alex Abrines  SG  23.0  OKC  ...  37.0   8.0   33.0  114.0  406.0
3  2017.0     Quincy Acy  PF  26.0  BRK  ...  14.0  15.0   19.0   58.0  209.0
4  2017.0   Steven Adams   C  23.0  OKC  ...  88.0  78.0  146.0  195.0  905.0
5  2017.0  Arron Afflalo  SG  31.0  SAC  ...  21.0   7.0   42.0  104.0  515.0
6  2017.0  Alexis Ajinca   C  28.0  NOP  ...  20.0  22.0   31.0   77.0  207.0

[5 rows x 50 columns]

In [ ]:
df_2017[df_2017['3P%'].isnull()].head()

      Year           Player Pos   Age   Tm  ...   STL   BLK   TOV     PF    PTS
7   2017.0     Cole Aldrich   C  28.0  MIN  ...  25.0  23.0  17.0   85.0  105.0
21  2017.0     Joel Anthony   C  34.0  SAS  ...   2.0   6.0   4.0   11.0   25.0
24  2017.0        Omer Asik   C  30.0  NOP  ...   5.0  10.0  14.0   51.0   85.0
39  2017.0      Aron Baynes   C  30.0  DET  ...  17.0  39.0  50.0  166.0  365.0
51  2017.0  Bismack Biyombo   C  24.0  ORL  ...  25.0  91.0  95.0  202.0  483.0

[5 rows x 50 columns]

mostly the null data on `3p%` is player on Center position and does not have 3p attempt

In [ ]:
df_2017[df_2017['FT%'].isnull()].head()

       Year         Player Pos   Age   Tm    G  ...  AST  STL  BLK  TOV   PF   PTS
48   2017.0     Ben Bentil  PF  21.0  DAL  3.0  ...  0.0  0.0  0.0  1.0  1.0   0.0
60   2017.0   Andrew Bogut   C  32.0  CLE  1.0  ...  0.0  0.0  0.0  0.0  2.0   0.0
72   2017.0  Anthony Brown  SF  24.0  ORL  2.0  ...  2.0  0.0  0.0  1.0  2.0   9.0
80   2017.0  Bruno Caboclo  SF  21.0  TOR  9.0  ...  4.0  2.0  1.0  2.0  4.0  14.0
158  2017.0  Jordan Farmar  PG  30.0  SAC  2.0  ...  9.0  2.0  0.0  3.0  1.0  12.0

[5 rows x 50 columns]

same with `3p%` the player who does not have `ft%` does not attempt any free throws, after the exploration i assume that null likely the player does not attempt some stats like free throws, 3p, shooting, etc

In [ ]:
# fill null data with 0
df_2017.fillna(value=0.0,inplace=True)

# Who is the youngest and oldest player in the NBA in 2017 for each team (Tm) ?

## Young Player

In [ ]:
df_young = df_2017[['Player','Age','Tm']].groupby('Tm').agg({'Age':'min'})['Age']

In [ ]:
df_young = df_2017[['Player','Age','Tm']][df_2017['Age'].isin(df_young)].sort_values('Age')

In [ ]:
df_young = df_young.drop_duplicates('Tm',keep='first').set_index('Tm')
df_young

                      Player   Age
Tm
LAL              Ivica Zubac  19.0
PHO            Derrick Jones  19.0
DEN             Jamal Murray  19.0
SAC     Georgios Papagiannis  19.0
MIL               Thon Maker  19.0
LAC            Diamond Stone  19.0
IND             Myles Turner  20.0
SAS          Dejounte Murray  20.0
DET          Stanley Johnson  20.0
OKC         Domantas Sabonis  20.0
GSW             Kevon Looney  20.0
HOU           Chinanu Onuaku  20.0
MIN               Tyus Jones  20.0
MEM             Wade Baldwin  20.0
ORL        Stephen Zimmerman  20.0
BOS             Jaylen Brown  20.0
NOP            Cheick Diallo  20.0
MIA          Justise Winslow  20.0
WAS         Chris McCullough  21.0
TOR             Jakob Poeltl  21.0
UTA               Trey Lyles  21.0
PHI  Timothe Luwawu-Cabarrot  21.0
CHI             Bobby Portis  21.0
CLE               Kay Felder  21.0
BRK         Isaiah Whitehead  21.0
POR              Noah Vonleh  21.0
CHO           Christian Wood  21.0
DAL               Ben Bentil  21.0
NYK       Kristaps Porzingis  21.0
ATL    Taurean Waller-Prince  22.0

## Old Player

In [ ]:
df_old = df_2017[['Player','Age','Tm']].groupby('Tm').agg({'Age':'max'})['Age']

In [ ]:
df_old = df_2017[['Player','Age','Tm']][df_2017['Age'].isin(df_old)].sort_values('Age',ascending=False)

In [ ]:
df_old = df_old.drop_duplicates('Tm',keep='first').set_index('Tm')
df_old

               Player   Age
Tm
MEM      Vince Carter  40.0
SAS     Manu Ginobili  39.0
MIL       Jason Terry  39.0
LAC       Paul Pierce  39.0
DAL     Dirk Nowitzki  38.0
CLE    Chris Andersen  38.0
LAL       Metta World  37.0
GSW       Matt Barnes  36.0
OKC     Nick Collison  36.0
BRK        Luis Scola  36.0
ATL     Mike Dunleavy  36.0
DEN       Mike Miller  36.0
MIA     Udonis Haslem  36.0
UTA       Joe Johnson  35.0
CHI       Dwyane Wade  35.0
MIN        John Lucas  34.0
PHO   Leandro Barbosa  34.0
HOU      Nene Hilario  34.0
DET        Beno Udrih  34.0
NOP      Jarrett Jack  33.0
IND      Al Jefferson  32.0
NYK   Carmelo Anthony  32.0
WAS     Marcin Gortat  32.0
ORL       C.J. Watson  32.0
PHI    Tiago Splitter  32.0
SAC  Anthony Tolliver  31.0
TOR       P.J. Tucker  31.0
CHO     Brian Roberts  31.0
BOS      Gerald Green  31.0
POR       Evan Turner  28.0

# Which player has the most minutes played (MP) in each position (Pos)?

In [ ]:
df_mp_player = df_2017[['Player','Pos','MP']].groupby('Pos').agg({'MP':'max'})['MP']

In [ ]:
df_2017[['Player','Pos','MP']][df_2017['MP'].isin(df_mp_player)].sort_values('MP',ascending=False)

                 Player Pos      MP
562      Andrew Wiggins  SF  3048.0
529  Karl-Anthony Towns   C  3030.0
210        James Harden  PG  2947.0
31      Harrison Barnes  PF  2803.0
347       C.J. McCollum  SG  2796.0

# Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [ ]:
df_tm_2017 = df_2017[['TRB%','AST%','STL%','BLK%','Tm']].groupby('Tm').mean()

## Best Total Rebound Percentage Team

In [ ]:
# Total Rebound Percentage 
df_tm_2017[['TRB%']][df_tm_2017['TRB%'] == df_tm_2017['TRB%'].max()]

          TRB%
Tm
WAS  12.735294

## Best Assist Percentage Team

In [ ]:
# Assist Percentage
df_tm_2017[['AST%']][df_tm_2017['AST%'] == df_tm_2017['AST%'].max()]

          AST%
Tm
DEN  15.723529

## Best Steal Percentage Team

In [ ]:
# Steal Percentage
df_tm_2017[['STL%']][df_tm_2017['STL%'] == df_tm_2017['STL%'].max()]

         STL%
Tm
MIN  2.413333

## Best Block Percentage Team

In [ ]:
# Block Percentage
df_tm_2017[['BLK%']][df_tm_2017['BLK%'] == df_tm_2017['BLK%'].max()]

         BLK%
Tm
MIL  2.741176

# Who is the best player in your opinion based on his record stats? note: you can refer to variables point (PTS), assists, rebounds, or anything else. A combination of several variables would be nice.

In [ ]:
df_2017['OVR'] = df_2017.iloc[:,5:].apply(lambda x: x.mean(),axis=1)
df_2017[['Player','Pos','Tm','OVR']].nlargest(5,'OVR')

                 Player Pos   Tm         OVR
558   Russell Westbrook  PG  OKC  360.796867
210        James Harden  PG  HOU  328.918111
529  Karl-Anthony Towns   C  MIN  302.964289
122       Anthony Davis   C  NOP  298.494067
269        LeBron James  SF  CLE  281.170644

# Which team has the best average stat record of their players? Note: you can refer to points, assists, rebounds, or anything else. A combination of several variables would be nice

In [ ]:
df_2017[['Tm','OVR']].groupby('Tm').sum().nlargest(5,'OVR')

             OVR
Tm
GSW  1575.927800
WAS  1514.843933
LAC  1507.355156
BOS  1507.239800
SAS  1506.784778